body{
   font-size: 16px;
   line-height: 1.5;
   font-family:"Roboto",Arial ,sans-serif;
   letter-spacing: 0.5px;
}
*:focus{
  outline: 2px dotted #ff7500;
  outline-offset: 4px;
}
.site-header{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid #ff7500;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo-link{
  transition: opacity 0.4s ease;
}
.logo-link:hover{
opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
}
.site-header-actions{
  display: flex;
  align-items: center;
}
.sitenav-list{
  list-style: none;
  display: flex;
  padding: 0;
}
.sitenav-link{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease, opacity 0.9s ease;

}
.sitenav-link:hover{
  color:#ff7500 ;
}
sitenav-link:active{
 opacity: 0.6;
}
.main-link{
  display: inline-block;
   font-size: 13px;
   line-height: 15px;
   background-color: #ff7500;
   color: #fff;
   text-decoration: none;
   transition: opacity 0.4s ease;
   padding: 12px 24px 12px 24px;
   border-radius: 4px;
   font-weight: bold;
}
.main-link:hover{
  opacity:0.8;
}
.main-link:active{
  opacity: 0.6;
}
.hero{
  display: flex;
  background: #252420;
  color: #fff;
  align-items:center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;

}
.hero-content{
 width: 390px;
}
.hero-img{
  width: 510px;
  height: 510px;
  border-radius: 8px;
}
.orange-line{
 width: 80px;
 height: 3px;
 background: #FF7500;
 border: none;
}
.hero-heading{
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed","Roboto","Arial",sans-serif;

}
/* FEATURES */
.features{
  padding-top: 210px;
  padding-bottom: 210px;
}
.features-heading{
  width: 440px;
  font-size:72px;
  line-height: 1.2;
  font-family: "Roboto Condensed","Roboto","Arial",sans-serif;
}
.features-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
.feature{
  width: 340px;
}
.feature-icon-wrap{
 width: 100px;
 height: 100px;
 background-color:rgba(255, 117, 0, 0.2);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
}
.feature-heading{
  font-size:24px;
  line-height: 1.2;
  font-family: "Roboto Condensed","Roboto","Arial",
}
.promo{
  border-radius:12px;

   background: #252420;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.promo-content{
  width: 440px;
}
.promo-heading{
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed","Roboto","Arial",
}

.promo-highlight{
 color: #ff7500;
}
.promo-img{
 width: 440px;
 line-height: 440px;
 object-fit: cover;
 border-radius: 12px;
}
.site-footer{
  background: #f8f8f8;
  padding-top: 56px;
  padding-bottom: 56px;
}
.site-footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-footer ul  {
 list-style: none;
 padding: 0;
}
.site-footer-social{
 display: flex;
 align-items: center;
 padding: none;
}
.site-footer-social a{
  color: #252420;

}
.site-footer-social a:hover{
  color: #ff7500;
}
.site-footer-social a:active{
opacity: 0.6;
}
.site-footer-divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  border: none;
}
.site-footer-bottom{
  display: flex;

}
.site-footer-link-list{
 width: 224px;
 line-height: 19px;

}
.site-footer-link-list a{
  text-decoration: none;
  color: #252420;
}
.site-footer-link-list a:hover{
 color:#ff7500;
}
.site-footer-link-list a:focus{
 opacity: 0.6;
}
